body
{
    background-image: url("./../Images/mumbai-3.webp");
    background-repeat: no-repeat;
    background-size: 1537px 700px;
}

 .nav-bar
{
    background-color: none;
    color: black;
    padding: 10px;
    margin-left: -7px;
    margin-right: 10px;
    margin-top: -7px;
    display: flex;
    justify-content: end;
    font-size: 10px;
    top: 5px;
}

.nav-btn
{
    margin: 5px;
    text-decoration: none;
    margin-right: 30px;
    color: black;
    padding: 4px;
    margin-top: 20px;
    font-size: 20px;
    color:black;
    font-family:'Gill Sans', 'Gill Sans MT', 
    Calibri, 'Trebuchet MS', sans-serif; 
 }

 .nav-btn:hover
{
    border-radius: 3px;
    box-shadow: 1px 1px 5px 1px black;
     transition: 0.5s;
    height: 25px;
}

 .nav-img
  {
    height: 80px;
    width: 100px;
    margin-right: 460px;
    margin-top: -9px;
}

  .home-head
{
    font-family: monospace;
    text-align: center;
    margin-top: 150px;
    font-size: 55px;
    margin-left: 30px;
    color:yellow;
 }





.place-book
 {
    margin-left: 345px;
    margin-top: -20px;
  }

 .book 
 {
    background-color: tomato;
    margin-left: 5px;
 } 

 .book:hover
 {
    background-color: brown;
    transition: 1s;
    cursor: pointer;
 }

 .anchor-tag
 {
    margin-top: 10px;
 }

 .title
 {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
 }

 .places
 {
    margin-left: 370px;
    margin-top: 20px;
    font-size: 25px;
    border-radius: 7px;
    background-color:darkseagreen;
    cursor: pointer;
    height: 35px;
    width: 100px;
 }

 .places:hover
 {
    background-color: chocolate;
    transition:0.5s;
    cursor: pointer;
    box-shadow: 1px 3px 8px 3px black;
}

.Explore-Maharastra
{
   text-align: center;
   margin-top: 150px;
   font-size: 70px;
   color:black;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer
{
   margin-top: -80px;
   background-color: burlywood;
   height: 400px;
   width: 1530px;
}
.footer-head
{
   
   margin-left: 10px;
   font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
.footer-img
{
   margin-left: 10px;
   height: 80px;
   width: 100px;
}

.img2
{
   height: 90px;
   width: 180px;
}
.footer-head3
{
   text-align: center;
   margin-top: -140px;
}
.footer-link
{
   margin-left: 667px;
   text-decoration: none;
   color: black;
}
.footer-head4
{
   margin-left: 1000px;
   margin-top: -244px;
}
.footer-explore-link
{
   margin-left: 999px;
   text-decoration: none;
   color: black;
}
.footer-head5
{
   text-align: end;
}
.footer-Quick-link
{
   text-decoration: none;
   color: black;
   margin-left: 1500px;
}